
*{
    box-sizing: border-box;
}

ul {
    list-style: none;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
    border-right:1px solid black;
}

li:first-child {
    border:none
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#name{
    float: left;
    text-align: center;
}

.clearfix::after {
    content:"";
    clear: both;
    display:table;
}

.active {
    background-color: #4aaaa5;
}